# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/fe/node_modules
/fe/.pnp
.pnp.js

/fe/.env
/fe/src/config.ts
# testing
/coverage

# production
/fe/build

# misc
/fe/.DS_Store
/fe/.env.local
/fe/.env.development.local
/fe/.env.test.local
/fe/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
